* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:afret {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
:no-button {
  cursor: pointer;
}
:no-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  border: 0.5px solid rgb(179, 102, 102);
}

body {
  font-family: cursive;
  font-size: 20px;
  background: white;
  overflow-x: auto;
  text-align: 0px 10px 10px 10px;
}

.wrapper {
  margin: 10px 60px 20px 60px;
}

/* HEADER */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner li {
  display: inline-block;
  min-width: 260px;
  margin: 10px;
  vertical-align: super;
  text-align: left;
}

.signIn {
  line-height: 15px;
  font-size: 15px;
  height: 30px;
  padding: 10px 20px;
  border-radius: 9999px;
  background-color: gray;
}

.menu {
  min-height: auto;
  min-width: 100%;
}
.menu li {
  display: inline-block;
  background: orange;
  width: auto;
  text-justify: auto;
  text-align: center;
  font-size: 23px;
}

/* MAIN */

h1 {
  font-size: 30px;
  font-weight: 800;
  padding-left: 10px;
}
h2 {
  font-size: 20px;
  font-weight: 800;
}
h3 {
  font-size: 25px;
  font-weight: 800;
  padding-left: 10px;
}
h4 {
  font-size: 25px;
  font-weight: 800;
  color: black;
}
p {
  font-size: 20px;
}

.pizza {
  margin: 20px;
  max-height: auto;
  width: 77%;
  border: 3px solid grey;
}
.pizza li {
  display: inline-block;
  border: 3px solid black;
  vertical-align: top;
  background: rgb(255, 187, 0);
}
.pizza p {
  width: 300px;
  color: gray;
}
.pizza h5 {
  font-size: 30px;
  text-align: left;
  background: rgb(255, 99, 99);
  color: blacks;
}
.slider {
  width: 90%;
  text-align: center;
  overflow: auto;
  padding: 0 40px;
}

.stories {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: none;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.stories::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.stories::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.stories > div {
  flex-shrink: 0;
  width: 240px;
  height: 300px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
}

.stories img {
  /* object-fit: cover; */
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 70px;
}

.bestseller {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: auto;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.bestseller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.bestsellet::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.bestseller > div {
  flex-shrink: 0;
  width: 250px;
  height: 100px;
  margin-right: 10px;
  position: relative;
  border-radius: 20px;
  border: 2px solid black;
}
.bestseller img {
  top: 0;
  left: 0;
  margin-left: 0;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

/* FOOTER */

footer {
  background: rgb(230, 145, 18);
  height: auto;
}

footer section {
  vertical-align: top;
  display: inline-block;
  background: 3px solid rgb(187, 154, 110);
  height: 55px;
  width: auto;
  background: url(../img/bdbanner.jpg);
  height: auto;
  border: 3px solid rgb(252, 147, 108);
}
